<!--Barra de navegacion-->
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img width="150" alt="ubb logo" src="../assets/ubb.png">
    </a>
    <div>
      <h1 id="Titulo">{{title}}</h1>
    </div>
</nav>
<!--Campo filtar-->
<div class="card">
  <div class="card-body">
    <br>
    <div class="row">
      <div class="col-md-2">Filtrar por:</div>
      <!-- Input de texto -->
      <div class="col-md-4">
        <input type="text"
              [(ngModel)]="listFilter"
              placeholder="Buscar producto..."/>
      </div>
      <!-- Menú desplegable de categorías -->
      <div class="col-md-3">
          <select class="form-select" [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
          </select>
      </div>
    </div>
    <br>

    <app-product-list [datos]="filteredProducts"></app-product-list>
  </div>
</div>